.wz-view{
  text-align: center;
}

div{
  font-family: Lato;
}

.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.file-info{
  width: 100%;
  height: 125px;
  border-bottom: 1px solid #ececee;
}

.file-info-content{
  margin-left: 30px;
  float: left;
  width: ~'calc(100% - 50px)';
}

.opening-text{
  width: 100%;
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 16px;
}

.file-name{
  width: 100%;
  float: left;
  font-size: 16px;
  color: #555f65;
  text-align: left;
}

.file-icon{
  width: 38px;
  height: 48px;
  margin-right: 25px;
  float: right;
  display: inline-block;
  display: none;
}

.loading-pdf{
  width: 100%;
  height: ~'calc(100% - 126px)';
  background-color: #f9f9fb;
}

.file-preview{
  width: 181px;
  height: 256px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 6px;
  opacity: 0;
}

.progress-bar{
	width: ~'calc(100% - 60px)';
	height: 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ececee;
	margin: 35px auto 0 auto;
}

.progress-bar-loaded{
	width: 0px;
	height: 6px;
	background: #60b25e;
	position: relative;
	top: 0;
	left: 0;
	border-radius: 3px;
}

.progress-text{
	margin-top: 30px;
	font-size: 22px;
	color: black;
}
