.wz-view{
  text-align: center;
}

div{
  font-family: Lato;
}

.file-preview{
  width: 256px;
  height: 256px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

.file-name{
  max-width: 90%;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto 30px auto;
}

.loading{
  margin-top: 30px;
  font-size: 20px;
}

.loading-pdf{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
